<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="WebserviceHome" value="http://rvms.azurewebsites.net"/>
    <add key="LoginService" value="http://korisnici.azurewebsites.net"/>-->
    <add key="WebserviceHome" value="http://localhost:49998"/>
    <add key="LoginService" value="http://localhost:49926"/>
  </appSettings>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior0">
                    <dataContractSerializer maxItemsInObjectGraph="6553600"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRvmsService" maxBufferSize="6553600"
                    maxReceivedMessageSize="6553600" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://rvms.azurewebsites.net/RvmsService.svc"
                behaviorConfiguration="NewBehavior0" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRvmsService" contract="RvmsServices.IRvmsService"
                name="BasicHttpBinding_IRvmsService" />-->
          <endpoint address="http://localhost:49998/RvmsService.svc"
                behaviorConfiguration="NewBehavior0" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRvmsService" contract="RvmsServices.IRvmsService"
                name="BasicHttpBinding_IRvmsService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
