<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="WebserviceHome" value="http://rvms.azurewebsites.net"/>
    <add key="LoginService" value="http://korisnici.azurewebsites.net"/>-->
    <add key="WebserviceHome" value="http://localhost:49998"/>
    <add key="LoginService" value="http://localhost:49926"/>
  </appSettings>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior0">
                    <dataContractSerializer maxItemsInObjectGraph="6553600"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding" maxBufferSize="6553600" maxReceivedMessageSize="6553600" />
                <binding name="BasicHttpBinding_Linije" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49998/RvmsService.svc" behaviorConfiguration="NewBehavior0"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="RvmsServices.IRvmsService" name="BasicHttpBinding_IRvmsService" />
            <endpoint address="http://localhost:49998/Services/Stajalista.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="Services.Stajalista.IStajalista" name="BasicHttpBinding_IStajalista" />
            <endpoint address="http://localhost:49998/Services/Linije.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="Services.Linije.Linije" name="BasicHttpBinding_Linije" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
