<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="WebserviceHome" value="http://localhost:49998"/>-->
    <add key="WebserviceHome" value="http://rvms.azurewebsites.net"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRvmsService" maxReceivedMessageSize="5000000" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--<endpoint address="http://localhost:49998/RvmsService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRvmsService" contract="RvmsServices.IRvmsService"
                name="BasicHttpBinding_IRvmsService" />-->
          <endpoint address="http://rvms.azurewebsites.net/RvmsService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRvmsService" contract="RvmsServices.IRvmsService"
                name="BasicHttpBinding_IRvmsService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
