@{
    ViewBag.Title = "Kreiraj liniju";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}
@model RVMS.Model.DTO.LinijaDTO
@section styles
{
    <style>
        #map {
            width: 100%;
            height: 100%;
        }
    </style>
}
<div id="map"></div>
@Html.Hidden("Linija", Json.Encode(Model))

<script>
    var map,
        mapOptions = {
            center: new google.maps.LatLng(44.22, 20.74),
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        poly,
        markers = [],
        bounds;
    
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    _createPolyline();
    var linija = JSON.parse($("#Linija").val());

    $.each(linija.Stajalista, function(index, stajaliste) {
        dodajMarker(stajaliste.StajalisteId, stajaliste.Latituda, stajaliste.Longituda, stajaliste.Aktivan);
    });

    function dodajMarker(id, lat, lng, stani) {
        if (lat && lng) {
            var coord = new google.maps.LatLng(lat, lng);
            if (stani) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: coord,
                    id: id,
                    icon: '@Url.Content("~/Content/images/bus_black_24x24.png")'
                });
                markers.push(marker);
            }
            
            poly.getPath().push(coord);
            
            if (!bounds) {
                bounds = new google.maps.LatLngBounds(coord, coord);
            } else {
                bounds.extend(coord);
            }
            map.fitBounds(bounds);
        }
    }
    
    function ocisti() {
        $.each(markers, function (ix, marker) {
            marker.setMap(null);
        });
        var path = poly.getPath();
        for (var i = 0; i < path.length; i++) {
            path.removeAt(i);
        }
        _createPolyline();
    }
    
    function obrisiMarker(id) {
        $.each(markers, function(ix, marker) {
            if (marker.id == id) {
                marker.setMap(null);
            }
        });
        var path = poly.getPath();
        var last = path.length;
        path.removeAt(last - 1);
    }
    
    function _createPolyline() {
        poly = new google.maps.Polyline({
            strokeColor: '#FF0000',
            strokeOpacity: 0.75,
            strokeWeight: 3
        });
        poly.setMap(map);
    }
</script>
