<div id="pretragaStajalista">
    <div>Pretraga stajališta</div>
    <div>
        <form action="javascript: RVMS.Dialogs.PretragaStajalista.Pretrazi()">
            <div class="line">
                <label class="label">Opšina</label>
                <div id="psOpstine"></div>
            </div>
            <div class="line">
                <label class="label">Mesto</label>
                <div id="psMesto"></div>
            </div>
            <div class="line">
                <label class="label">Stajalište</label>
                <input id="psStajaliste"/>
            </div>
            <input type="submit" value="Pretraži" id="btnPretraziStajalista"/>
            <input type="reset" value="Očisti" id="btnOcisti" />
        </form>
        <div id="rezultatiGrid" style="margin-top: 4px"></div>
    </div>
</div>
