<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="RVMSConnection" providerName="System.Data.SqlClient" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=RVMS_Dev;Integrated Security=SSPI;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KorisniciConnection" providerName="System.Data.SqlClient" 
         connectionString="Server=.\sqlexpress;Database=korisnici;Integrated security=true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="Forms">
      <forms loginUrl="http://localhost:49926/Account/Login?appCode=rvms" timeout="2880" name="auth_cookie"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </authentication>
  </system.web>
  <nlog xdt:Transform="Replace">
    <targets>
      <target type="File" name="file" fileName="c:\Temp\log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file"/>
    </rules>
  </nlog>
</configuration>