<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="RVMSConnection" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:ahg2g9tnre.database.windows.net,1433;Database=rvms;User ID=zeks@ahg2g9tnre;Password=Z3ks_J0va;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KorisniciConnection" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:ahg2g9tnre.database.windows.net,1433;Database=korisnici;User ID=zeks@ahg2g9tnre;Password=Z3ks_J0va;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="Forms">
      <forms loginUrl="http://korisnici.azurewebsites.net/Account/Login?appCode=rvms" timeout="2880"  name="auth_cookie"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </authentication>
  </system.web>
  <nlog xdt:Transform="Replace">
    <targets>
      <target type="Mail" name="email" subject="Logger" to="zeljko.bajsanski@gmail.com" from="zeljko.bajsanski@gmail.com"
              smtpUserName="zeljko.bajsanski@gmail.com"
              smtpPassword="bluechelsea"
              enableSsl="true"
              smtpAuthentication="Basic"
              smtpServer="smtp.gmail.com"
              smtpPort="587" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="email"/>
    </rules>
  </nlog>
</configuration>