@{
    ViewBag.Title = "Relacije";
}

@section scripts
{
    <script src="~/Scripts/app/pages/pregledRelacijaPage.js"></script>
    <script>
        RVMS.Pages.PregledRelacijaPage = new RVMS.Pages.PregledRelacijaPage();
    </script>
}
<div id="grid"></div>